// $bg-color : blue;

// FONTS
@font-face { font-family: 'title'; src: url('../fonts/AmaticSC-Regular.ttf'); font-weight: normal; }
@font-face { font-family: 'title'; src: url('../fonts/AmaticSC-Bold.ttf'); font-weight: bold; }

@font-face { font-family: 'text'; src: url('../fonts/JosefinSans-Regular.ttf'); font-weight: normal;}
@font-face { font-family: 'text'; src: url('../fonts/JosefinSans-Bold.ttf'); font-weight: bold; }
@font-face { font-family: 'text'; src: url('../fonts/JosefinSans-Bold.ttf'); font-weight: bold;}
@font-face { font-family: 'text'; src: url('../fonts/JosefinSans-BoldItalic.ttf'); font-weight: bold; font-style: italic;}
@font-face { font-family: 'text'; src: url('../fonts/JosefinSans-Light.ttf'); font-weight: lighter;}
@font-face { font-family: 'text'; src: url('../fonts/JosefinSans-LightItalic.ttf'); font-weight: lighter; font-style: italic;}


body {
  font-family: 'text';
  font-size: 1.2rem;
}

h1, .questionhash {
  font-family: 'title';
  font-weight: bold;
}

h1 {
  font-size: 50px;
}


header {
  background: url('../img/bg.png') repeat;
  background-size: 200px;

  >div {
    // height: cover;
    background-color: rgba(255, 255, 255, 0.85);
  }
}

main {
  margin-top : 150px;

  >section:first-child span {
        
  }
}


.questionhash {
  font-size: 30px;
  // opacity: 0.8;
  // font-weight: bold;
}
